name: Go
on: [push]
jobs:

  test:
    name: Go ${{ matrix.go }} test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.8', '1.9', '1.10', '1.11', '1.12', '1.13' ]
    steps:

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Test
        run: go test
